.showcase-form-A {
  margin: 0 auto;
  /* position: relative; */
  /* top: 60px; */
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
  font-size: 12px;
}

.showcase-form-A .form-control {
  margin: 30px 0;
}

.showcase-form-A input[type="text"],
.showcase-form-A input[type="password"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form-A input:focus {
  outline: none;
}
